<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{ title }}</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav">
      <li
        class="nav-item active"
        *ngFor="let option of navbarLabels[mainService.navBarFor]; index as i"
      >
        <a
          class="nav-link"
          [style.fontSize]="selected == option ? '1.4em' : '1.2em'"
          [style.fontWeight]="selected == option ? '600' : '100'"
          (click)="change(option)"
          routerLink="{{ navbarLinks[mainService.navBarFor][i] }}"
          >{{ option }}<span class="sr-only"></span
        ></a>
      </li>
    </ul>
    <button (click)="logOff()">
      <mat-icon style="font-size: 40px">power_settings_new</mat-icon>
    </button>
  </div>
</nav>
