/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
app-pharma-sell-print {
  display: none;
}
app-opd-print {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media print {
  app-pharma-sell-print {
    display: block;
  }
  app-opd-print {
    display: block;
  }
  .print {
    display: none;
  }
}
